<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="login-head">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/assets/img/unimerch-icon.png">
    <link rel="stylesheet" href="/assets/iziToast/v1.4.0/iziToast.min.css">
    <link rel="stylesheet" href="/assets/css/google-font.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</th:block>

<th:block th:fragment="dashboard-head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/assets/img/unimerch-icon.png">
    <link href="/assets/fontawesome/v.5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <link href="/assets/bootstrap/v4.6.0/bootstrap-select.min.css" rel="stylesheet">
    <script src="/assets/jQuery/v3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap/v4.6.0/bootstrap.bundle.min.js"></script>
    <script src="/assets/bootstrap/v4.6.0/bootstrap-select.min.js"></script>

    <!-- Datatables -->
    <link href="/assets/datatables/DataTables-1.12.1/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/assets/datatables/Buttons-2.2.3/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="/assets/datatables/Responsive-2.3.0/css/responsive.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/iziToast/v1.4.0/iziToast.min.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">
    <link href="/assets/datatables/dataTables.checkboxes.css" rel="stylesheet">

    <!--Date range picker-->
    <link href="/assets/date-range-picker/css/daterangepicker.css" rel="stylesheet">

</th:block>

<th:block th:fragment="404-head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/assets/img/unimerch-icon.png">
    <link href="/assets/fontawesome/v.5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script src="/assets/bootstrap/v4.6.0/bootstrap.bundle.min.js"></script>
    <link href="/assets/css/dashboard.css" rel="stylesheet">
</th:block>