<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="create-amzn-acc">
    <div id="mdCreateAmznAcc" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{amznAcc.mdCreateAmznAccTitle}">Add new Amzn Acc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="mb-3" id="frmCreateAmznAcc" autocomplete="off">
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="amznAccUsernameCreate" th:text="#{amznAcc.username}">Username</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="amznAccUsernameCreate" name="amznAccUsernameCreate" class="form-control" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="amznAccPasswordCreate" th:text="#{amznAcc.password}">Password</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="amznAccPasswordCreate" name="amznAccPasswordCreate" class="form-control" required>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnCreateAmznAcc" th:text="#{amznAcc.btnCreate}">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{amznAcc.btnClose}">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="import-amzn-acc">
    <div id="mdImportAmznAcc" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" th:text="#{amznAcc.uploadTitle}">Upload file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="frmImportAmznAcc">
                        <div class="dropzone">
                            <img src="/assets/img/upload.ico" class="upload-icon"  alt="not found"/>
                            <input type="file" class="upload-input" id="fileUploadAmznAcc" name="fileUploadAmznAcc"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer tex">
                    <div class="col-md-7">
                        <a href="/api/amzn/getFileSample" th:text="#{amznAcc.getFileSample}"></a>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btnUpload" id="btnImportAmznAcc" th:text="#{btn.upload}">Upload file</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="update-amzn-acc">
    <div id="mdUpdateAmznAcc" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{amznAcc.mdUpdateAmznAccTitle}">Update Amzn Acc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mb-3" id="frmUpdateAmznAcc" autocomplete="off">
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="amznAccUsernameUpdate" th:text="#{amznAcc.username}">Username</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="amznAccUsernameUpdate" name="amznAccUsernameUpdate" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="amznAccPasswordUpdate" th:text="#{amznAcc.password}">Password</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="amznAccPasswordUpdate" name="amznAccPasswordUpdate" class="form-control" required>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdateAmznAcc" th:text="#{amznAcc.btnSave}">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{amznAcc.btnClose}">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>