<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="add-note">
    <div id="mdAddNote" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{dashboard.mdAddNote.title}">Add new account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="mb-3" id="frmCreateUser">
<!--                        <div class="row mb-3">-->
<!--                            <div class="col-xl-4">-->
<!--                                <label for="fullNameCreate" th:text="#{user.mdCreate.fullName}">Full name:</label>-->
<!--                            </div>-->
<!--                            <div class="col-xl-8">-->
<!--                                <input type="text" id="fullNameCreate" name="fullNameCreate" class="form-control">-->
<!--                            </div>-->
<!--                        </div>-->
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveNote" class="btn btn-primary" th:text="#{btn.save}">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btn.close}">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>