<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="create-tag">
    <div id="mdCreateTag" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tag.mdCreateTagTitle}">Add new group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mb-3" id="frmCreateTag">
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="tagNameCreate" th:text="#{tag.tagTitle}">Tag title</label>
                            </div>
                            <div class="col-xl-8 d-flex flex-column justify-content-center">
                                <input type="text" id="tagNameCreate" name="tagNameCreate" class="form-control"
                                       required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnCreateTag" th:text="#{group.btnCreate}">
                        Create
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{group.btnClose}">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="update-tag">
    <div id="mdUpdateTag" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tag.mdUpdateTagTitle}">Change group title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="modal-alert-danger hide">
                    </div>

                    <form class="mb-3" id="frmUpdateTag">
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="tagNameUpdate" th:text="#{tag.tagTitle}">Group Title</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="tagNameUpdate" name="tagNameUpdate" class="form-control"/>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUpdateTag" class="btn btn-primary" th:text="#{group.btnSave}">
                        Change
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{group.btnClose}">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="add-tag-content">
    <div id="mdAddTagContentToTag" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tag.mdAddTagContentToTagTitle}">Add Amazon account to group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table id="table-tag-content-out" class="table stripe nowrap table-borderless" style="width: 100%;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{tag.tagContentName}" class="text-center">Name</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAddTagContentToTag" class="btn btn-primary" th:text="#{group.btnAdd}">
                        Add
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{group.btnClose}">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="tag-content-list">
    <div id="mdTagContent" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">

                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-light" th:text="#{tag.tagContentTableTitle}">Tag Content List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table id="table-tag-content" class="table stripe nowrap table-borderless" style="width: 100%;">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Id</th>
                            <th th:text="#{tag.tagContentName}">Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{group.btnClose}">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="create-tag-content">
    <div id="mdCreateTagContent" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tag.addNewTagContentTitle}">Add new tag content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mb-3" id="frmCreateTagContent">
                        <div class="row mb-3">
                            <div class="col-xl-4 d-flex flex-column justify-content-center">
                                <label for="tagContentNameCreate" th:text="#{tag.tagContentNameCreate}">Tag Content Name</label>
                            </div>
                            <div class="col-xl-8 d-flex flex-column justify-content-center">
                                <input type="text" id="tagContentNameCreate" name="tagContentNameCreate" class="form-control"
                                       required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnCreateTagContent" th:text="#{group.btnCreate}">
                        Create
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{group.btnClose}">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>