<!--<th:block th:fragment="product-analytics-filter">-->
<!--    <div id="mdProductAnalyticsFilter" class="modal fade" tabindex="-1" role="dialog">-->
<!--        <div class="modal-dialog modal-dialog-centered modal-lg" data-backdrop="static" data-keyboard="false">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header bg-primary">-->
<!--                    <h5 class="modal-title text-center text-light font-weight-bold" th:text="#{analyse.filter}">Filter</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="mb-3 row">-->
<!--                        <div class="col-md-2">Include Tag</div>-->
<!--                        <div class="col-md-10">-->
<!--                           <span class="dropdown">-->
<!--                            <button class="btn btn-success dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true"-->
<!--                                    aria-expanded="false">-->
<!--                                Idea tag-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu animated&#45;&#45;fade-in"-->
<!--                                 aria-labelledby="dropdownMenuButton" style="">-->
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                            <span class="dropdown">-->
<!--                            <button class="btn btn-warning dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                Design tag-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu animated&#45;&#45;fade-in"-->
<!--                                 aria-labelledby="dropdownMenuButton" style="">-->
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                            <span class="dropdown">-->
<!--                            <button class="btn btn-secondary dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                Support tag-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu animated&#45;&#45;fade-in"-->
<!--                                 aria-labelledby="dropdownMenuButton" style="">-->
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="mb-3 row">-->
<!--                        <div class="col-md-2">Exclude Tag</div>-->
<!--                        <div class="col-md-10">-->
<!--                           <span class="dropdown">-->
<!--                            <button class="btn btn-success dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true"-->
<!--                                    aria-expanded="false">-->
<!--                                Idea tag-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu animated&#45;&#45;fade-in"-->
<!--                                 aria-labelledby="dropdownMenuButton" style="">-->
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                            <span class="dropdown">-->
<!--                            <button class="btn btn-warning dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                Design tag-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu animated&#45;&#45;fade-in"-->
<!--                                 aria-labelledby="dropdownMenuButton" style="">-->
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                            <span class="dropdown">-->
<!--                            <button class="btn btn-secondary dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                Support tag-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu animated&#45;&#45;fade-in"-->
<!--                                 aria-labelledby="dropdownMenuButton" style="">-->
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2">Date Range</div>-->
<!--                        <div class="col-md-10">-->
<!--                            <input class="form-control col-md-10" type="text" name="dateRange" id="productAnalDateRange" autocomplete="off">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-primary" id="btnAnalyseProductFilter" th:text="#{analyse.btn.analyse}">Analyse</button>-->
<!--                    <button type="button" class="btn btn-info" id="btnResetProductFilter" th:text="#{analyse.btn.reset}">Reset</button>-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{amznAcc.btnClose}">Close</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</th:block>-->