<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="create_user">
    <div id="mdCreateUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{user.mdCreate.title}">Add new account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="mb-3" id="frmCreateUser">
                        <div class="row mb-3">
                            <div class="col-xl-4">
                                <label for="fullNameCreate" th:text="#{user.mdCreate.fullName}">Full name:</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="fullNameCreate" name="fullNameCreate" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-xl-4">
                                <label for="usernameCreate" th:text="#{user.mdCreate.username}">Username:</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="usernameCreate" name="usernameCreate" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-xl-4">
                                <label for="passwordCreate" th:text="#{user.mdCreate.password}">Password:</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="password" id="passwordCreate" name="passwordCreate"
                                       class="form-control password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4"></div>
                            <div class="col-xl-8">
                                <input type="checkbox" class="checkbox show-password" th:text=" #{form.showPassword}">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCreateUser" class="btn btn-primary" th:text="#{btn.create}">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btn.close}">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="change_password_user">
    <div id="mdCPUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{user.mdCP.title}">Change account's password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="mb-3" id="frmCPUser">
                        <div class="row mb-3">
                            <div class="col-xl-4">
                                <label for="fullNameCP" th:text="#{user.mdCP.fullName}">Full name:</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="fullNameCP" name="fullNameCP" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-xl-4">
                                <label for="usernameCP" th:text="#{user.mdCP.username}">Username:</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="text" id="usernameCP" name="usernameCP" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-xl-4">
                                <label for="passwordCP" th:text="#{user.mdCP.password}">New password:</label>
                            </div>
                            <div class="col-xl-8">
                                <input type="password" id="passwordCP" name="passwordCP" class="form-control password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4"></div>
                            <div class="col-xl-8">
                                <input type="checkbox" class="checkbox show-password" th:text="#{form.showPassword}">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCPUser" class="btn btn-primary" th:text="#{btn.save}">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btn.close}">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>