<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script-login">
    <script src="/assets/jQuery/v3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/assets/iziToast/v1.4.0/dist/js/iziToast.min.js"></script>
    <script src="/assets/js/login.js"></script>
</th:block>

<th:block th:fragment="script-dashboard">
    <!-- jquery validation-->
    <script src="/assets/jQuery/validation/v.1.19.5/dist/jquery.validate.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/datatables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="/assets/datatables/Buttons-2.2.3/js/buttons.bootstrap4.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/assets/jQuery-easing/jquery.easing.min.js"></script>

    <!-- Notifications -->
    <script src="/assets/sweetAlert2/v11.4.20/sweetalert2.all.min.js"></script>
    <script src="/assets/iziToast/v1.4.0/dist/js/iziToast.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <script src="/assets/js/dashboard.js"></script>


</th:block>