<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script-login">
    <script src="/assets/jQuery/v3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/assets/iziToast/v1.4.0/dist/js/iziToast.min.js"></script>
    <script src="/assets/js/login.js"></script>
</th:block>

<th:block th:fragment="script-dashboard">
    <!-- Datatables -->
    <script src="/assets/datatables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="/assets/datatables/Buttons-2.2.3/js/buttons.bootstrap4.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/jQuery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
<!--    <script src="/assets/js/chart/Chart.min.js"></script>-->

    <script src="/assets/js/dashboard.js"></script>


</th:block>