<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script-login">
    <script src="/assets/jQuery/v3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/assets/iziToast/v1.4.0/dist/js/iziToast.min.js"></script>
    <script src="/assets/topbar-buunguyen/v0.1.3/topbar.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/login.js"></script>
</th:block>

<th:block th:fragment="script-dashboard">
    <!-- jquery validation-->
    <script src="/assets/jQuery/validation/v.1.19.5/dist/jquery.validate.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/datatables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="/assets/datatables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="/assets/datatables/Buttons-2.2.3/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/datatables/DataTables-1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/datatables/Responsive-2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="/assets/datatables/Responsive-2.3.0/js/responsive.bootstrap4.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/assets/jQuery-easing/jquery.easing.min.js"></script>

    <!-- Notifications -->
    <script src="/assets/topbar-buunguyen/v0.1.3/topbar.min.js"></script>
    <script src="/assets/sweetAlert2/v11.4.20/sweetalert2.all.min.js"></script>
    <script src="/assets/iziToast/v1.4.0/dist/js/iziToast.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/dashboard.js"></script>

    <script type="text/javascript" src="/assets/datatables/absolute.js"></script>
    <script type="text/javascript" src="/assets/datatables/natural.js"></script>
    <script type="text/javascript" src="/assets/datatables/dataTables.checkboxes.min.js"></script>

    <!-- kool-chart -->
    <script src="https://www.koolchart.com/demo/LicenseKey/codepen/KoolChartLicense.js"></script>
    <script src="https://www.koolchart.com/demo/KoolChart/JS/KoolChart.js"></script>
    <link rel="stylesheet" href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css" />
</th:block>