<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="topbar">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item d-inline-block">
                <div class="nav-link">
                    <button type="button" class="btn btn-light"
                            data-toggle="modal" data-target="#mdContact">
                        Contact
                    </button>
                </div>
            </li>
        </ul>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-inline-block"></div>
            <li class="nav-item d-none d-sm-block">
                <div type="button" class="nav-link btn" id="btn-full-screen">
                    <i class="fas fa-expand fa-lg fa-fw mr-2"></i>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:title="#{topbar.user.dropdown.logout}">
                    <i class="fas fa-sign-out-alt fa-lg fa-fw mr-2"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div id="mdContact" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-weight-bold">Contact</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <div class="row mb-3">
                            <div class="col-3 font-weight-bold text-left">
                                HCM
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-3 font-weight-bold text-left">
                                Vietnam
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-3 font-weight-bold">
                                Support
                            </div>
                            <div class="col-9 text-center">
                                <a href="mailto:kenwin9293@gmail.com" class="text-decoration-none">
                                    kenwin9293@gmail.com
                                </a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-3 font-weight-bold">
                                Marketing
                            </div>
                            <div class="col-9 text-center">
                                <a href="mailto:kenwin9293@gmail.com" class="text-decoration-none">
                                    kenwin9293@gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btn.close}">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>