<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{amznAcc.tabTitle}">Amzn Acc Management</title>
    <th:block th:replace="layout/head :: dashboard-head"/>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <div class="row justify-content-lg-center">

                    <div class="col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <a class="m-0 h4 font-weight-bold text-primary text-decoration-none"
                                   th:href="@{'/dashboard/amznAccount'}"
                                   th:text="#{amznAcc.amznAccTableTitle}">
                                    Amzn Acc Management
                                </a>
                            </div>

                            <div class="card-body">
                                <table id="table-amzn-acc" class="table stripe nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th style="visibility: hidden">#</th>
                                        <th th:text="#{amznAcc.amznAccTitle}">Amzn Acc Title</th>
                                        <th th:text="#{amznAcc.action}">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="layout/modals-amzn-acc :: create-amzn-acc"/>
<th:block th:replace="layout/modals-amzn-acc :: update-amzn-acc"/>
<th:block th:replace="layout/modals-amzn-acc :: import-amzn-acc"/>
<th:block th:replace="layout/texts :: texts"/>

<th:block th:replace="layout/script :: script-dashboard"/>

<script>
    let page = {
        urls: {
            findAllAmznAccs: CommonApp.BASE_URL_AMZN_ACCOUNT + "/findAllAmznAccs",
            createAmznAcc: CommonApp.BASE_URL_AMZN_ACCOUNT + "/create",
            importAmznAcc: CommonApp.BASE_URL_AMZN_ACCOUNT + "/import",
            updateAmznAcc: CommonApp.BASE_URL_AMZN_ACCOUNT + "/update/",
            deleteAmznAcc: CommonApp.BASE_URL_AMZN_ACCOUNT + "/delete/",
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            commands: {},
            alertDanger: {},
            inputError: {},
            close: {}
        }
    }

    page.element.tableAmznAcc = $('#table-amzn-acc');
    page.element.btnShowCreateAmznAccMd = $('#btnMdCreateAmznAcc');

    page.dialogs.element.mdCreateAmznAcc = $('#mdCreateAmznAcc');
    page.dialogs.element.frmCreateAmznAcc = $('#frmCreateAmznAcc');
    page.dialogs.element.btnCreateAmznAcc = $('#btnCreateAmznAcc');
    page.dialogs.element.amznAccUsernameCreate = $('#amznAccUsernameCreate');
    page.dialogs.element.amznAccPasswordCreate = $('#amznAccPasswordCreate');

    page.dialogs.element.mdImportAmznAcc = $('#mdImportAmznAcc');
    page.dialogs.element.frmImportAmznAcc = $('#frmImportAmznAcc');
    page.dialogs.element.fileUploadAmznAcc = $('#fileUploadAmznAcc')[0].files[0];
    page.dialogs.element.btnImportAmznAcc = $('#btnImportAmznAcc');

    page.dialogs.element.mdUpdateAmznAcc = $('#mdUpdateAmznAcc');
    page.dialogs.element.frmUpdateAmznAcc = $('#frmUpdateAmznAcc');
    page.dialogs.element.btnUpdateAmznAcc = $('#btnUpdateAmznAcc');
    page.dialogs.element.amznAccUsernameUpdate = $('#amznAccUsernameUpdate');
    page.dialogs.element.amznAccPasswordUpdate = $('#amznAccPasswordUpdate');

    page.dialogs.commands.doCreateAmznAcc = () => {
        let newAmznAcc = {};
        newAmznAcc.username = page.dialogs.element.amznAccUsernameCreate.val().toLowerCase().trim();
        newAmznAcc.password = page.dialogs.element.amznAccPasswordCreate.val();

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.createAmznAcc,
            data: JSON.stringify(newAmznAcc)
        })
        .done((data) => {
            let tableAmznAcc = page.element.tableAmznAcc.DataTable();
            tableAmznAcc.row.add({
                'id': data.id,
                'username': data.username
            })
            tableAmznAcc.draw();
            page.dialogs.element.mdCreateAmznAcc.modal("hide");
            CommonApp.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
        })
        .fail(function (jqXHR) {
            DBApp.handleFailedTasks(jqXHR)
        })
    }

    page.dialogs.commands.doUpdateAmznAcc = (currentAmznAcc) => {
        let amznAcc = {};
        amznAcc.password = page.dialogs.element.amznAccPasswordUpdate.val().trim();
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PUT",
            url: page.urls.updateAmznAcc + currentAmznAcc.id,
            data: JSON.stringify(amznAcc)
        })
        .done((data) => {
            page.dialogs.element.mdUpdateAmznAcc.modal("hide");
            CommonApp.SweetAlert.showSuccessAlert(SUCCESS_UPDATED);
        })
        .fail(function (jqXHR) {
            DBApp.handleFailedTasks(jqXHR)
        })
    }

    page.dialogs.commands.doDeletedAmznAcc = (currentAmznAcc, currentRowAmznAcc) => {
        $.ajax({
            type: "DELETE",
            url: page.urls.deleteAmznAcc + currentAmznAcc.id,
        })
            .done((data) => {
                let tableAmznAcc = page.element.tableAmznAcc.DataTable();
                tableAmznAcc.row(currentRowAmznAcc).remove().draw('full-hold');
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_REMOVED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR)
            })
    }

    page.dialogs.close.mdCreateAmznAcc = () => {
        page.dialogs.element.frmCreateAmznAcc.find("input.error").removeClass("error");
        page.dialogs.element.frmCreateAmznAcc[0].reset();
        page.dialogs.element.frmCreateAmznAcc.validate().resetForm();
    }

    page.dialogs.close.mdUpdateAmznAcc = () => {
        page.dialogs.element.frmUpdateAmznAcc.find("input.error").removeClass("error");
        page.dialogs.element.frmUpdateAmznAcc[0].reset();
        page.dialogs.element.frmUpdateAmznAcc.validate().resetForm();
    }

    $(document).ready(function () {
        DBApp.handleGroupsFilterSidebar();

        let tableAmznAcc = page.element.tableAmznAcc.DataTable({
            ajax: {
                contentType: 'application/json',
                url: page.urls.findAllAmznAccs,
                dataSrc: ''
            },
            info: false,
            pagingType: 'simple_numbers',
            columns: [
                {data: 'id'},
                {data: 'username'},
                {data: null}
            ],
            columnDefs: [
                {
                  targets: 0,
                  visible: false
                },
                {
                    targets: 1,
                    type: 'natural',
                },
                {
                    targets: -1,
                    className: "text-center",
                    orderable: false,
                    render: (data, type, row) =>
                        `<button type='button' class='update-amzn-acc btn btn-outline-warning mr-3' title='${btnChangePass}'>
                            <i class="fas fa-key"></i>
                        </button>
                        <button type='button' class='delete-amzn-acc btn btn-outline-danger' title='${btnDelete}'>
                            <i class="fas fa-trash"></i>
                        </button>`,
                },
            ],
            language: {
                search: `<i class="fas fa-search text-primary"></i> `,
                paginate: {
                    previous: `<i class="fas fa-angle-left"></i>`,
                    next:     `<i class="fas fa-angle-right"></i>`
                },
                aria: {
                    paginate: {
                        previous: 'Previous',
                        next:     'Next'
                    }
                },
                emptyTable: `${noDataInTable}`
            },
            pageLength: 8,
            lengthChange: false,
            dom: '<"row mb-2"<"col"B><"col"f>>rtp',
            buttons: {
                dom: {
                    button: {
                        tag: 'button',
                        className: ''
                    }
                },
                buttons: [
                    {
                        text: `<i class="fas fa-plus"></i> ${btnCreate}`,
                        className: 'showCrGrpMd btn btn-primary',
                        init: function (api, node, config) {
                            $(node).on('click', () => page.dialogs.element.mdCreateAmznAcc.modal("show"));
                        }
                    },
                    {
                        text: `<i class="fas fa-file-import"></i> ${btnImport}`,
                        className: 'showImportGrpMd btn btn-secondary',
                        init: function (api, node, config) {
                            $(node).on('click', () => page.dialogs.element.mdImportAmznAcc.modal("show"));
                        }
                    }
                ]
            },
        });
        tableAmznAcc.order([1, "asc"]).draw();

        let currentRowAmznAcc;
        let currentAmznAcc;

        page.dialogs.element.btnCreateAmznAcc.on('click', function () {
            page.dialogs.element.frmCreateAmznAcc.submit();
        });

        page.dialogs.element.btnUpdateAmznAcc.on('click', function () {
            page.dialogs.element.frmUpdateAmznAcc.submit();
        });

        page.dialogs.element.frmCreateAmznAcc.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                amznAccUsernameCreate: {
                    required: true
                },
                amznAccPasswordCreate: {
                    required: true
                }
            },
            messages: {
                amznAccUsernameCreate: {
                    required: `${usernameRequired}`
                },
                amznAccPasswordCreate: {
                    required: `${passwordRequired}`
                },
            },
            submitHandler: function () {
                page.dialogs.commands.doCreateAmznAcc();
            }
        })

        page.dialogs.element.frmUpdateAmznAcc.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                amznAccPasswordUpdate: {
                    required: true
                }
            },
            messages: {
                amznAccPasswordUpdate: {
                    required: `${passwordRequired}`
                },
            },
            submitHandler: function () {
                page.dialogs.commands.doUpdateAmznAcc(currentAmznAcc);
            }
        })

        page.dialogs.element.mdCreateAmznAcc.on('hidden.bs.modal', () => {
            page.dialogs.close.mdCreateAmznAcc();
        });

        page.dialogs.element.mdUpdateAmznAcc.on('hidden.bs.modal', () => {
            page.dialogs.close.mdUpdateAmznAcc();
        });

        page.element.tableAmznAcc.on('click', 'button.update-amzn-acc', function () {
            currentAmznAcc = tableAmznAcc.row($(this).parents('tr')).data();
            page.dialogs.element.amznAccUsernameUpdate.val(currentAmznAcc.username);
            page.dialogs.element.amznAccPasswordUpdate.val(currentAmznAcc.password);
            page.dialogs.element.mdUpdateAmznAcc.modal('show');
        });

        page.element.tableAmznAcc.on('click', 'button.delete-amzn-acc', function () {
            currentRowAmznAcc = tableAmznAcc.row($(this).parents('tr'));
            currentAmznAcc = currentRowAmznAcc.data();
            CommonApp.SweetAlert.showDeleteDialog()
                .then((result) => {
                    if (result.isConfirmed) {
                        page.dialogs.commands.doDeletedAmznAcc(currentAmznAcc, currentRowAmznAcc);
                    }
                })
        });

        page.dialogs.element.btnImportAmznAcc.on('click', function () {
            const formData = new FormData();
            let fileUpload = $('#fileUploadAmznAcc')[0].files[0];
            if (fileUpload === undefined) {
                CommonApp.IziToast.showErrorAlert(`${noDataSelected}`);
                return;
            }
            formData.append('fileUploadAmznAcc', fileUpload);
            page.dialogs.element.mdImportAmznAcc.modal("hide");
            CommonApp.handleSpinner();
            $.ajax({
                url: page.urls.importAmznAcc,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false
            })
            .done((data) => {
                let tableAmznAcc = page.element.tableAmznAcc.DataTable();
                tableAmznAcc.ajax.reload();
                $('#fileUploadAmznAcc').val('');
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail((jqXHR) => {
                DBApp.handleFailedTasks(jqXHR)
            })
        })

    });


</script>
</body>
</html>