<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/head :: dashboard-head"/>
    <title>Groups Management</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Groups Management</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <div class="row">

                    <!-- Users -->
                    <div class="col-md-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Groups</h6>
                            </div>

                            <div class="card-body">
                                <!-- Table Body -->
                                <table id="table-group" class="table cell-border stripe nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Group Title</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <!-- Tbody -->
                                </table>
                            </div>
                            <!-- Card Body -->
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="group-title m-0 font-weight-bold text-primary">Amazon Account</h6>
                            </div>
                            <div class="card-body">
                                <!-- Table Body -->
                                <table id="table-amzn-acc-in" class="border-0 stripe nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Username</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <!-- Tbody -->
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="layout/modals-group :: create-group"/>

<th:block th:replace="layout/modals-group :: update-group"/>

<th:block th:replace="layout/script :: script-dashboard"/>

<!--<script type="text/javascript" src="/assets/js/jquery.spring-friendly.js"></script>-->

<script>
    let page = {
        urls: {
            findAllGroups: App.BASE_URL_GROUP,
            findAllAmznAccInGroup: App.BASE_URL_GROUP + "/showAmznAccInsideGroup/",
            findAllAmznAccOutGroup: App.BASE_URL_GROUP + "/showAmznAccOutsideGroup/",
            findGroup: App.BASE_URL_GROUP + "/",
            createGroup: App.BASE_URL_GROUP + "/create",
            changeGroupTitle: App.BASE_URL_GROUP + "/update/",
            // deleteGroup: App.BASE_URL_GROUP + "/delete/"
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.element.tableGroup = $('#table-group');
    page.element.tableAmznAccIn = $('#table-amzn-acc-in');
    page.element.tableAmznAccOut = $('#table-amzn-acc-out');
    page.element.btnShowCreateGroupFrm = $('#btnMdCreateGroup');
    page.element.groupTitle = $(".group-title");

    page.dialogs.element.mdCreateGroup = $('#mdCreateGroup');
    page.dialogs.element.frmCreateGroup = $('#frmCreateGroup');
    page.dialogs.element.btnCreateGroup = $('#btnCreateGroup');
    page.dialogs.element.groupTitleCreate = $('#groupTitleCreate');

    page.dialogs.element.mdUpdateGroup = $('#mdUpdateGroup');
    page.dialogs.element.frmUpdateGroup = $('#frmUpdateGroup');
    page.dialogs.element.btnUpdateGroup = $('#btnUpdateGroup');
    page.dialogs.element.groupTitleUpdate = $('#groupTitleUpdate');


    $(document).ready(function () {

        let tableGroup = page.element.tableGroup.DataTable({
            ajax: {
                contentType: 'application/json',
                url: page.urls.findAllGroups,
                type: 'POST',
                data: function(d) {
                    return JSON.stringify(d);
                },
                dataSrc: 'data'
            },
            info: false,
            pagingType: 'simple_numbers',
            processing: true,
            serverSide : true,
            columns: [
                {data: 'id'},
                {data: 'title'},
                {data: null}
            ],
            columnDefs: [
                {
                    targets: 0,
                    className: "text-center",
                },
                {
                    targets: -1,
                    className: "text-center",
                    orderable: false,
                    render: (data, type, row) =>
                        `<button type='button' class='manage-group btn btn-outline-primary mr-3' title='Manage group'>
                            <i class="fas fa-cogs"></i>
                        </button>
                        <button type='button' class='change-title btn btn-outline-warning mr-3' title='Change group title'>
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type='button' class='delete-group btn btn-outline-danger' title='Delete group'>
                            <i class="fas fa-trash"></i>
                        </button>`,
                },
            ],
            pageLength: 3,
            lengthChange: false,
            dom: 'Bfrtip',
            buttons: {
                dom: {
                    button: {
                        tag: 'button',
                        className: ''
                    }
                },
                buttons: [
                    {
                        text: `<i class="fas fa-plus"></i> Add`,
                        titleAttr: 'Add new group',
                        className: 'add btn btn-primary',
                        init: function (api, node, config) {
                            $(node).on('click', () => page.dialogs.element.mdCreateGroup.modal("show"));
                        }
                    }
                ]
            },
        });

        // let tableAmznAccIn = page.element.tableAmznAccIn.DataTable({
        //     ajax: {
        //         contentType: 'application/json',
        //         url: '/assets/json/data.json',
        //         type: 'POST',
        //         data: function(d) {
        //             return JSON.stringify(d);
        //         },
        //         dataSrc: 'data'
        //     },
        //     info: false,
        //     pagingType: 'simple_numbers',
        //     processing: true,
        //     serverSide : true,
        //     columns: [
        //         {data: 'id'},
        //         {data: 'username'},
        //         {data: null}
        //     ],
        //     columnDefs: [
        //         {
        //             targets: 0,
        //             className: "text-center"
        //         },
        //         {
        //             targets: -1,
        //             className: "text-center",
        //             defaultContent:
        //                 `<button type='button' class='manage-group btn btn-outline-danger mr-3' title='Manage group'>`
        //                 + `<i class="fas fa-ban"></i>`
        //                 + `</button>`
        //         },
        //     ],
        //     pageLength: 3,
        //     lengthChange: false,
        //     dom: 'Bfrtip',
        //     buttons: {
        //         dom: {
        //             button: {
        //                 tag: 'button',
        //                 className: ''
        //             }
        //         },
        //         buttons: [
        //             {
        //                 text: `<i class="fas fa-plus"></i> Add`,
        //                 titleAttr: 'Add Amazon Account',
        //                 className: 'add btn btn-primary',
        //                 init: function (api, node, config) {
        //                     $(node).on('click', () => page.dialogs.element.mdCreateGroup.modal("show"));
        //                 }
        //             }
        //         ]
        //     },
        // });

        page.element.tableGroup.on('click', 'button.manage-group', function () {
            let data = tableGroup.row($(this).parents('tr')).data();
            page.element.groupTitle.html(data.title);
            tableAmznAccIn.ajax.url(page.urls.findAllAmznAccInGroup + data.id).load();
        });

        page.element.tableGroup.on('click', 'button.change-title', function () {
            let data = tableGroup.row($(this).parents('tr')).data();
            console.log(data);
        });

        page.element.tableGroup.on('click', 'button.delete-group', function () {
            let data = tableGroup.row($(this).parents('tr')).data();
            console.log(data);
        });
    });


</script>
</body>
</html>