<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{group.tabTitle}">Groups Management</title>
    <th:block th:replace="layout/head :: dashboard-head"/>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="#{group.pageTitle}"></h1>
                </div>

                <div class="row">

                    <div class="col-md-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary" th:text="#{group.groupTableTitle}">Groups
                                    Management</h4>
                            </div>

                            <div class="card-body">
                                <table id="table-group" class="table stripe nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th style="visibility: hidden">#</th>
                                        <th th:text="#{group.groupTitle}">Group Title</th>
                                        <th th:text="#{group.action}">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
                                <h6 class="group-title m-0 font-weight-bold text-light"
                                    th:text="#{group.amznAccTableTitle}">Amazon Account</h6>
                            </div>
                            <div class="card-body">
                                <table id="table-amzn-acc-in" class="table-borderless stripe nowrap table" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th th:text="#{group.tableAmznAccUsername}">Username</th>
                                        <th th:text="#{group.action}">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="layout/modals-group :: create-group"/>
<th:block th:replace="layout/modals-group :: update-group"/>
<th:block th:replace="layout/modals-group :: add-amzn-acc"/>
<th:block th:replace="layout/texts :: texts"/>

<th:block th:replace="layout/script :: script-dashboard"/>

<script>
    let page = {
        urls: {
            findAllGroups: App.BASE_URL_GROUP + "/findAllGroups",
            findAllAmznAccInGroup: App.BASE_URL_GROUP + "/showAmznAccInsideGroup/",
            findAllAmznAccOutGroup: App.BASE_URL_GROUP + "/showAmznAccOutsideGroup/",
            createGroup: App.BASE_URL_GROUP + "/create",
            updateGroup: App.BASE_URL_GROUP + "/update/",
            deleteGroup: App.BASE_URL_GROUP + "/delete/",
            deleteAmznAccFromGroup: App.BASE_URL_GROUP + "/deleteAmznAccFromGroup/",
            addAmznAccountToGroup: App.BASE_URL_GROUP + "/addAmznAccountToGroup/"
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {},
            close: {}
        }
    }

    page.element.tableGroup = $('#table-group');
    page.element.tableAmznAccIn = $('#table-amzn-acc-in');
    page.element.tableAmznAccOut = $('#table-amzn-acc-out');
    page.element.btnShowCreateGroupFrm = $('#btnMdCreateGroup');
    page.element.groupTitle = $(".group-title");
    page.element.btnShowCreGrpMd = $(".showCrGrpMd");
    page.element.btnShowAddAmzAccMd = $(".showAddAmzAccMd");

    page.dialogs.element.mdCreateGroup = $('#mdCreateGroup');
    page.dialogs.element.frmCreateGroup = $('#frmCreateGroup');
    page.dialogs.element.btnCreateGroup = $('#btnCreateGroup');
    page.dialogs.element.groupTitleCreate = $('#groupTitleCreate');

    page.dialogs.element.mdUpdateGroup = $('#mdUpdateGroup');
    page.dialogs.element.frmUpdateGroup = $('#frmUpdateGroup');
    page.dialogs.element.btnUpdateGroup = $('#btnUpdateGroup');
    page.dialogs.element.groupTitleUpdate = $('#groupTitleUpdate');

    page.dialogs.element.mdAddAmznAccToGroup = $('#mdAddAmznAccToGroup');
    page.dialogs.element.btnAddAmznAccToGroup = $('#btnAddAmznAccToGroup');

    page.commands.doCreateGroup = () => {
        let newGroup = {};
        newGroup.title = page.dialogs.element.groupTitleCreate.val().trim();

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.createGroup,
            data: JSON.stringify(newGroup)
        })
            .done((data) => {
                let tableGroup = page.element.tableGroup.DataTable();
                tableGroup.row.add({
                    'id': data.id,
                    'title': data.title
                })
                tableGroup.order([0, 'desc']).draw();

                let str = `<a class="collapse-item" data-id="${data.id}" href="/dashboard/${data.id}">${data.title}</a>`
                $('#filter-sidebar').append(str);

                page.dialogs.element.mdCreateGroup.modal("hide");
                App.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail(function (jqXHR) {
                App.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doUpdateGroup = (currentGroup, currentRowGroup) => {
        let group = {};
        group.title = page.dialogs.element.groupTitleUpdate.val().trim();

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PUT",
            url: page.urls.updateGroup + currentGroup.id,
            data: JSON.stringify(group)
        })
            .done((data) => {
                let tableGroup = page.element.tableGroup.DataTable();
                tableGroup.row(currentRowGroup).data({
                    'id': data.id,
                    'title': data.title
                }).draw('full-hold');
                page.dialogs.element.frmUpdateGroup[0].reset();
                page.dialogs.element.mdUpdateGroup.modal("hide");
                App.SweetAlert.showSuccessAlert(SUCCESS_UPDATED);
            })
            .fail(function (jqXHR) {
                App.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doDeleteGroup = (currentGroup, currentRowGroup, tableAmznAccIn) => {
        $.ajax({
            type: "DELETE",
            url: page.urls.deleteGroup + currentGroup.id,
        })
            .done((data) => {
                let tableGroup = page.element.tableGroup.DataTable();
                tableGroup.row(currentRowGroup).remove().draw('full-hold');
                if (tableAmznAccIn) {
                    page.element.tableAmznAccOut.DataTable().clear().draw();
                    page.element.tableAmznAccIn.DataTable().clear().draw();
                    page.element.groupTitle.html('');
                }
                $('#filter-sidebar .collapse-item').each((index, value) => {
                    if ($(value).data('id') == currentGroup.id) {
                        $(value).remove();
                    }
                })
                App.SweetAlert.showSuccessAlert(SUCCESS_REMOVED);
            })
            .fail(function (jqXHR) {
                App.handleFailedTasks(jqXHR);
            })
    }

    page.commands.addAmznAccToGroup = (currentGroup, tableAmznAccIn, tableAmznAccOut) => {
        if (currentGroup === undefined) return;

        let amznAccSelected = [];

        let rows_selected = tableAmznAccOut.rows({selected: true}).data()
        $.each(rows_selected, function (index, value) {
            amznAccSelected.push(value.id);
        });

        if (amznAccSelected.length === 0) {
            App.IziToast.showErrorAlert(`${noDataSelected}`);
            return;
        }

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.addAmznAccountToGroup + currentGroup.id,
            data: JSON.stringify({amznAccSelected})
        })
            .done((data) => {
                data.forEach((amznAcc) => {
                    tableAmznAccIn.row.add({
                        'id': amznAcc.id,
                        'username': amznAcc.username
                    })
                    tableAmznAccIn.order([0, 'desc']).draw();
                });
                page.dialogs.element.mdAddAmznAccToGroup.modal("hide");
                App.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail(function (jqXHR) {
                App.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doDeletedAmznAcc = (currentGroup, currentAmznAcc, currentRowAmznAcc) => {
        $.ajax({
            type: "DELETE",
            url: page.urls.deleteAmznAccFromGroup + currentAmznAcc.id + '/' + currentGroup.id,
        })
            .done((data) => {
                let tableAmznAccIn = page.element.tableAmznAccIn.DataTable();
                tableAmznAccIn.row(currentRowAmznAcc).remove().draw('page');
            })
            .fail(function (jqXHR) {
                App.handleFailedTasks(jqXHR);
            })
    }

    page.dialogs.close.mdCreateGroup = () => {
        page.dialogs.element.frmCreateGroup.find("input.error").removeClass("error");
        page.dialogs.element.frmCreateGroup[0].reset();
        page.dialogs.element.frmCreateGroup.validate().resetForm();
    }
    page.dialogs.close.mdUpdateGroup = () => {
        page.dialogs.element.frmUpdateGroup.find("input.error").removeClass("error");
        page.dialogs.element.frmUpdateGroup[0].reset();
        page.dialogs.element.frmUpdateGroup.validate().resetForm();
    }

    $(document).ready(function () {
        App.handleGroupsFilterSidebar();

        let tableGroup = page.element.tableGroup.DataTable({
            ajax: {
                contentType: 'application/json',
                url: page.urls.findAllGroups,
                dataSrc: ''

            },
            info: false,
            pagingType: 'simple_numbers',
            columns: [
                {data: 'id'},
                {data: 'title'},
                {data: null}
            ],
            columnDefs: [
                {
                    targets: 0,
                    visible: false
                },
                {
                    targets: 1,
                    type: 'natural'
                },
                {
                    targets: -1,
                    className: "text-center",
                    orderable: false,
                    render: (data, type, row) =>
                        `<button type='button' class='manage-group btn btn-outline-primary mr-3' title='${btnManage}'>
                            <i class="fas fa-cogs"></i>
                        </button>
                        <button type='button' class='update-group btn btn-outline-warning mr-3' title='${btnUpdate}'>
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type='button' class='delete-group btn btn-outline-danger' title='${btnDelete}'>
                            <i class="fas fa-trash"></i>
                        </button>`,
                },
            ],
            language: {
                search: `<i class="fas fa-search text-primary"></i> `,
                paginate: {
                    previous: `<i class="fas fa-angle-left"></i>`,
                    next: `<i class="fas fa-angle-right"></i>`
                },
                aria: {
                    paginate: {
                        previous: 'Previous',
                        next: 'Next'
                    }
                },
                emptyTable: `${noDataInTable}`
            },
            pageLength: 10,
            lengthChange: false,
            dom: '<"row mb-2"<"col"B><"col"f>>rtp',
            buttons: {
                dom: {
                    button: {
                        tag: 'button',
                        className: ''
                    }
                },
                buttons: [
                    {
                        text: `<i class="fas fa-plus"></i> ${btnCreate}`,
                        className: 'showCrGrpMd btn btn-primary',
                        init: function (api, node, config) {
                            $(node).on('click', () => page.dialogs.element.mdCreateGroup.modal("show"));
                        }
                    }
                ]
            },
        });
        let tableAmznAccIn;
        let tableAmznAccOut;
        let currentRowGroup;
        let currentGroup;
        let currentRowAmznAcc;
        let currentAmznAcc;

        page.element.tableGroup.on('click', 'button.manage-group', function () {
            currentGroup = tableGroup.row($(this).parents('tr')).data();
            page.element.groupTitle.html(currentGroup.title);

            if (tableAmznAccIn === undefined) {
                tableAmznAccIn = page.element.tableAmznAccIn.DataTable({
                    ajax: {
                        url: page.urls.findAllAmznAccInGroup + currentGroup.id,
                        dataSrc: ''
                    },
                    info: false,
                    pagingType: 'simple_numbers',
                    columns: [
                        {data: 'id'},
                        {data: 'username'},
                        {data: null}
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            className: "text-center"
                        },
                        {
                            targets: 1,
                            className: "text-center",
                            type: 'natural',
                        },
                        {
                            targets: -1,
                            className: "text-center",
                            orderable: false,
                            defaultContent:
                                `<button type='button' class='delete-amzn-acc btn btn-outline-danger mr-3' title='${btnDelete}'>`
                                + `<i class="fas fa-ban"></i>`
                                + `</button>`
                        },
                    ],
                    language: {
                        search: `<i class="fas fa-search text-primary"></i> `,
                        paginate: {
                            previous: `<i class="fas fa-angle-left"></i>`,
                            next: `<i class="fas fa-angle-right"></i>`
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next: 'Next'
                            }
                        },
                        emptyTable: `${noDataInTable}`
                    },
                    pageLength: 10,
                    lengthChange: false,
                    dom: '<"row mb-2"<"col"B><"col"f>>rtp',
                    buttons: {
                        dom: {
                            button: {
                                tag: 'button',
                                className: ''
                            }
                        },
                        buttons: [
                            {
                                text: `<i class="fas fa-plus"></i> ${btnAdd}`,
                                className: 'showAddAmzAccMd btn btn-primary',
                                init: function (api, node, config) {
                                    $(node).on('click', () => {
                                        page.dialogs.element.mdAddAmznAccToGroup.modal("show");
                                    })
                                }
                            }
                        ]
                    },
                });
            } else {
                tableAmznAccIn.ajax.url(page.urls.findAllAmznAccInGroup + currentGroup.id).load();
            }
        });

        page.element.tableGroup.on('click', 'button.update-group', function () {
            currentRowGroup = tableGroup.row($(this).parents('tr'));
            currentGroup = currentRowGroup.data();
            page.dialogs.element.groupTitleUpdate.val(currentGroup.title);
            page.dialogs.element.mdUpdateGroup.modal('show');
        });
        page.element.tableGroup.on('click', 'button.delete-group', function () {
            currentRowGroup = tableGroup.row($(this).parents('tr'));
            currentGroup = currentRowGroup.data();
            App.SweetAlert.showDeleteDialog()
                .then((result) => {
                    if (result.isConfirmed) {
                        page.commands.doDeleteGroup(currentGroup, currentRowGroup, tableAmznAccIn);
                        currentGroup = undefined;
                    }
                })
        });

        page.dialogs.element.btnCreateGroup.on('click', function () {
            page.dialogs.element.frmCreateGroup.submit();
        });

        page.dialogs.element.frmCreateGroup.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                groupTitleCreate: {
                    required: true
                }
            },
            messages: {
                groupTitleCreate: {
                    required: `${requiredGroupTitle}`
                }
            },
            submitHandler: function () {
                page.commands.doCreateGroup();
            }
        })
        page.dialogs.element.frmUpdateGroup.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                groupTitleUpdate: {
                    required: true
                }
            },
            messages: {
                groupTitleUpdate: {
                    required: `${requiredGroupTitle}`
                }
            },
            submitHandler: function () {
                page.commands.doUpdateGroup(currentGroup, currentRowGroup);
            }
        })

        page.dialogs.element.mdCreateGroup.on('hidden.bs.modal', () => {
            page.dialogs.close.mdCreateGroup();
        });
        page.dialogs.element.mdUpdateGroup.on('hidden.bs.modal', () => {
            page.dialogs.close.mdUpdateGroup();
        });

        page.dialogs.element.btnUpdateGroup.on('click', function () {
            page.dialogs.element.frmUpdateGroup.submit();
        });

        page.element.tableAmznAccIn.on('click', 'button.delete-amzn-acc', function () {
            currentRowAmznAcc = tableAmznAccIn.row($(this).parents('tr'));
            currentAmznAcc = currentRowAmznAcc.data();
            page.commands.doDeletedAmznAcc(currentGroup, currentAmznAcc, currentRowAmznAcc);
        });

        page.dialogs.element.mdAddAmznAccToGroup.on('shown.bs.modal', () => {

            if (currentGroup === undefined) {
                return;
            }

            if (tableAmznAccOut === undefined) {
                tableAmznAccOut = page.element.tableAmznAccOut.DataTable({
                    ajax: {
                        url: page.urls.findAllAmznAccOutGroup + currentGroup.id,
                        dataSrc: ''
                    },
                    info: false,
                    pagingType: 'simple_numbers',
                    columns: [
                        {data: 'id'},
                        {data: 'username'},
                        {data: null},
                    ],
                    columnDefs: [
                        {
                            targets: 1,
                            type: 'natural',
                        },
                        {
                            targets: 2,
                            orderable: false,
                            className: 'select-checkbox',
                            render: () => '',
                        }
                    ],
                    select: {
                        style: 'multi+shift'
                    },
                    language: {
                        search: `<i class="fas fa-search text-primary"></i> `,
                        paginate: {
                            previous: `<i class="fas fa-angle-left"></i>`,
                            next: `<i class="fas fa-angle-right"></i>`
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next: 'Next'
                            }
                        },
                        emptyTable: `${noDataInTable}`
                    },
                    pageLength: 8,
                    lengthChange: false,
                    dom: '<"d-flex justify-content-around flex-column flex-sm-row mb-2"<"align-self-center align-self-sm-start table-quickselect"><"align-self-center align-self-sm-start"f>>tp'
                });

                $('div.table-quickselect').html(`<p class="font-italic font-weight-light text-center text-sm-left" style="margin-bottom: 0;">${tableQuickSelectP1}</p>
                <p class="font-italic font-weight-light text-center text-sm-left">${tableQuickSelectP2}</p>`);
            } else {
                tableAmznAccOut.ajax.url(page.urls.findAllAmznAccOutGroup + currentGroup.id).load();
            }
            page.element.tableAmznAccOut.css('cursor', 'pointer');
        });

        page.dialogs.element.mdAddAmznAccToGroup.on('hidden.bs.modal', () => {
            tableAmznAccOut.clear().draw();
            tableAmznAccOut.search('').draw();
        });

        page.dialogs.element.btnAddAmznAccToGroup.on('click', () => {
            page.commands.addAmznAccToGroup(currentGroup, tableAmznAccIn, tableAmznAccOut);
        })
    });


</script>
</body>
</html>