<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{tagGroup.tabTitle}">Tags Management</title>
    <th:block th:replace="layout/head :: dashboard-head"/>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid mt-3">

                <div class="row justify-content-lg-center">

                    <div class="col-md-5">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <a class="m-0 h4 font-weight-bold text-primary text-decoration-none"
                                   th:href="@{'/dashboard/tagGroup'}"
                                   th:text="#{tagGroup.tagTableTitle}">
                                    Tags Management
                                </a>
                            </div>

                            <div class="card-body">
                                <table id="table-tagGroup" class="table stripe nowrap tb-padding-sm"
                                       style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th style="visibility: hidden">#</th>
                                        <th th:text="#{tagGroup.tagTitle}">Tag Title</th>
                                        <th>Color</th>
                                        <th th:text="#{tagGroup.action}">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
                                <h6 class="tagGroup-title m-0 font-weight-bold text-light"
                                    th:text="#{tagGroup.tagContentTableTitle}">Tag Content</h6>
                            </div>
                            <div class="card-body">
                                <table id="table-tag-content-in"
                                       class="table-borderless stripe nowrap table tb-padding-sm" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="visibility: hidden"></th>
                                        <th th:text="#{tagGroup.tagContentName}">Name</th>
                                        <th th:text="#{tagGroup.action}">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="layout/modals-tag :: create-tagGroup"/>
<th:block th:replace="layout/modals-tag :: update-tagGroup"/>
<th:block th:replace="layout/modals-tag :: add-tag-content"/>
<th:block th:replace="layout/modals-tag :: tag-content-list"/>
<th:block th:replace="layout/modals-tag :: create-tag-content"/>
<th:block th:replace="layout/texts :: texts"/>

<th:block th:replace="layout/script :: script-dashboard"/>

<script>
    let page = {
        urls: {
            findAllTagGroups: CommonApp.BASE_URL_TAG + "/findAllTagGroups",
            createTagGroup: CommonApp.BASE_URL_TAG + "/create",
            updateTagGroup: CommonApp.BASE_URL_TAG + "/update",
            deleteTagGroup: CommonApp.BASE_URL_TAG + "/delete/",

            getAllTags: CommonApp.BASE_URL_TAG + "/getAllTags",
            getTagInsideTagGroup: CommonApp.BASE_URL_TAG + "/getTagInsideTagGroup/",
            getTagOutsideTagGroup: CommonApp.BASE_URL_TAG + "/getTagOutsideTagGroup/",
            createTag: CommonApp.BASE_URL_TAG + "/createTag",
            updateTag: CommonApp.BASE_URL_TAG + "/updateTag",
            deleteMultiTag: CommonApp.BASE_URL_TAG + "/deleteMultiTag",
            deleteTagFromTagGroup: CommonApp.BASE_URL_TAG + "/deleteTagFromTagGroup/",
            deleteMultiTagFromTagGroup: CommonApp.BASE_URL_TAG + "/deleteMultiTagFromTagGroup",
            addTagToTagGroup: CommonApp.BASE_URL_TAG + "/addTagToTagGroup/"
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            commands: {},
            alertDanger: {},
            inputError: {},
            close: {}
        }
    }

    page.element.tableTagGroup = $('#table-tagGroup');
    page.element.tableTagContentIn = $('#table-tag-content-in');
    page.element.tableTagContentOut = $('#table-tag-content-out');
    page.element.tagGroupTitle = $(".tagGroup-title");

    page.dialogs.element.mdCreateTagGroup = $('#mdCreateTag');
    page.dialogs.element.frmCreateTagGroup = $('#frmCreateTag');
    page.dialogs.element.btnCreateTagGroup = $('#btnCreateTag');
    page.dialogs.element.tagGroupNameCreate = $('#tagNameCreate');
    page.dialogs.element.tagGroupColorCreate = $('#tagColorCreate');

    page.dialogs.element.mdUpdateTagGroup = $('#mdUpdateTag');
    page.dialogs.element.frmUpdateTagGroup = $('#frmUpdateTag');
    page.dialogs.element.btnUpdateTagGroup = $('#btnUpdateTag');
    page.dialogs.element.tagGroupNameUpdate = $('#tagNameUpdate');
    page.dialogs.element.tagGroupColorUpdate = $('#tagColorUpdate');

    page.dialogs.element.mdAddTagContentToTagGroup = $('#mdAddTagContentToTag');
    page.dialogs.element.btnAddTagContentToTagGroup = $('#btnAddTagContentToTag');

    page.commands.doCreateTagGroup = () => {
        let newTagGroup = new TagGroup();
        newTagGroup.id = 0;
        newTagGroup.name = page.dialogs.element.tagGroupNameCreate.val().trim();
        newTagGroup.color = page.dialogs.element.tagGroupColorCreate.val();
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.createTagGroup,
            data: JSON.stringify(newTagGroup)
        })
            .done((data) => {
                let tableTagGroup = page.element.tableTagGroup.DataTable();
                tableTagGroup.row.add({
                    'id': data.id,
                    'name': data.name,
                    'color': data.color
                })
                tableTagGroup.order([1, 'asc']).draw();
                page.dialogs.element.mdCreateTagGroup.modal("hide");
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doUpdateTagGroup = (tagGroup, currentTagGroup, currentRowTagGroup) => {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PUT",
            url: page.urls.updateTagGroup,
            data: JSON.stringify(tagGroup)
        })
            .done((data) => {
                let tableTagGroup = page.element.tableTagGroup.DataTable();
                tableTagGroup.row(currentRowTagGroup).data({
                    'id': data.id,
                    'name': data.name,
                    'color': data.color
                }).draw('full-hold');
                //Update color in tag group table -> Not yet
                page.dialogs.element.frmUpdateTagGroup[0].reset();
                page.dialogs.element.mdUpdateTagGroup.modal("hide");
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_UPDATED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doDeleteTagGroup = (currentTagGroup, currentRowTagGroup, tableTagContentIn) => {
        $.ajax({
            type: "DELETE",
            url: page.urls.deleteTagGroup + currentTagGroup.id,
        })
            .done((data) => {
                let tableTagGroup = page.element.tableTagGroup.DataTable();
                tableTagGroup.row(currentRowTagGroup).remove().draw('full-hold');
                if (tableTagContentIn) {
                    page.element.tableTagContentOut.DataTable().clear().draw();
                    page.element.tableTagContentIn.DataTable().clear().draw();
                    page.element.tagGroupTitle.html('');
                }

                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_REMOVED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }

    page.commands.addTagToTagGroup = (currentTagGroup, tableTagContentIn, tableTagContentOut) => {
        if (currentTagGroup === undefined) return;

        let tagContentSelected = [];

        let rows_selected = tableTagContentOut.rows({selected: true}).data()
        $.each(rows_selected, function (index, value) {
            tagContentSelected.push(value.id);
        });

        if (tagContentSelected.length === 0) {
            CommonApp.IziToast.showErrorAlert(`${noDataSelected}`);
            return;
        }

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.addTagToTagGroup + currentTagGroup.id,
            data: JSON.stringify({tagContentSelected: tagContentSelected})
        })
            .done((data) => {
                data.forEach((tag) => {
                    tableTagContentIn.row.add({
                        'id': tag.id,
                        'name': tag.name
                    })
                });
                tableTagContentIn.draw();
                page.dialogs.element.mdAddTagContentToTagGroup.modal("hide");
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doDeleteTagInTagGroup = (currentTagGroup, currentTagContent, currentRowTagContent) => {
        $.ajax({
            type: "DELETE",
            url: page.urls.deleteTagFromTagGroup + currentTagContent.id + '/' + currentTagGroup.id,
        })
            .done((data) => {
                let tableTagContentIn = page.element.tableTagContentIn.DataTable();
                tableTagContentIn.row(currentRowTagContent).remove().draw('page');
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.commands.doDeletedMultiTagInTagGroup = (currentTagGroup, tableTagContentIn) => {
        let tagContentSelected = [];

        let rows_selected = tableTagContentIn.rows({selected: true}).data();
        $.each(rows_selected, function (index, value) {
            tagContentSelected.push(value.id);
        });

        if (tagContentSelected.length === 0) {
            CommonApp.IziToast.showErrorAlert(`${noDataSelected}`);
            return;
        }

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "DELETE",
            url: page.urls.deleteMultiTagFromTagGroup + "/" + currentTagGroup.id,
            data: JSON.stringify({tagContentSelected})
        })
            .done((data) => {
                tableTagContentIn.rows({selected: true}).remove().draw();
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_REMOVED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.commands.handleTagGroupNameCellEdit = () => {
        $('.tagTitle').click(function (e) {
            e.stopPropagation();
            let value = $(this).html();
            page.commands.editTagGroupNameCellInline(this, value);
        })
    }
    page.commands.editTagGroupNameCellInline = (currentEle, value) => {
        $(currentEle).html('<input class="thVal form-control" type="text" width="1" value="' + value + '" />');
        $(".thVal", currentEle).focus().keyup(function (event) {
            if (event.keyCode == 13) {
                $(currentEle).html($(".thVal").val().trim());
                let tableTagGroup = page.element.tableTagGroup.DataTable();
                let currentRowTagGroup = tableTagGroup.row($(currentEle).parents('tr'));
                let currentTagGroup = currentRowTagGroup.data();
                let tagGroup = new TagGroup();
                tagGroup.id = currentTagGroup.id;
                tagGroup.name = $(`#tagGroup-${currentTagGroup.id}`).text().trim();
                tagGroup.color = currentTagGroup.color;
                page.commands.doUpdateTagGroup(tagGroup, currentTagGroup, currentRowTagGroup);
            }
        }).click(function (e) {
            e.stopPropagation();
        });

        $(document).click(function () {
            $(".thVal").replaceWith(function () {
                return this.value;
            });
        });
    }

    page.dialogs.close.mdCreateTagGroup = () => {
        page.dialogs.element.frmCreateTagGroup.find("input.error").removeClass("error");
        page.dialogs.element.frmCreateTagGroup[0].reset();
        page.dialogs.element.frmCreateTagGroup.validate().resetForm();
    }
    page.dialogs.close.mdUpdateTagGroup = () => {
        page.dialogs.element.frmUpdateTagGroup.find("input.error").removeClass("error");
        page.dialogs.element.frmUpdateTagGroup[0].reset();
        page.dialogs.element.frmUpdateTagGroup.validate().resetForm();
    }

    //CRUD Tag Content
    page.dialogs.element.mdTagContent = $('#mdTagContent');
    page.dialogs.element.tableTagContent = $('#table-tag-content');

    page.dialogs.element.mdCreateTagContent = $('#mdCreateTagContent');
    page.dialogs.element.frmCreateTagContent = $("#frmCreateTagContent");
    page.dialogs.element.tagContentNameCreate = $("#tagContentNameCreate");
    page.dialogs.element.btnCreateTagContent = $("#btnCreateTagContent");
    page.dialogs.commands.doCreateTagContent = () => {
        let newTag = {
            id: 0,
            name: {}
        };
        newTag.name = page.dialogs.element.tagContentNameCreate.val().trim();

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.createTag,
            data: JSON.stringify(newTag)
        })
            .done((data) => {
                let tableTagContent = page.dialogs.element.tableTagContent.DataTable();
                tableTagContent.row.add({
                    'id': data.id,
                    'name': data.name
                })
                tableTagContent.order([1, 'desc']).draw();

                page.dialogs.element.mdCreateTagContent.modal("hide");
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.dialogs.commands.doUpdateTagContent = (currentTagContent, currentRowTagContent) => {
        let tagParam = {
            id: {},
            name: {}
        };
        tagParam.id = currentTagContent.id;
        tagParam.name = $(`#tag-${currentTagContent.id}`).text().trim();

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PUT",
            url: page.urls.updateTag,
            data: JSON.stringify(tagParam)
        })
            .done((data) => {
                let tableTagContent = page.dialogs.element.tableTagContent.DataTable();
                tableTagContent.row(currentRowTagContent).data({
                    'id': data.id,
                    'name': data.name
                }).draw('full-hold');
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_UPDATED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })
    }
    page.dialogs.commands.handleTagContentNameCellEdit = () => {
        $('.tagContentName').click(function (e) {
            e.stopPropagation();
            let value = $(this).html();
            page.dialogs.commands.editTagContentNameCellInline(this, value);
        })
    }
    page.dialogs.commands.editTagContentNameCellInline = (currentEle, value) => {
        $(currentEle).html('<input class="tagContentVal form-control" type="text" width="1" value="' + value + '" />');
        $(".tagContentVal", currentEle).focus().keyup(function (event) {
            if (event.keyCode == 13) {
                $(currentEle).html($(".tagContentVal").val().trim());
                let tableTagContent = page.dialogs.element.tableTagContent.DataTable();
                let currentRowTagContent = tableTagContent.row($(currentEle).parents('tr'));
                let currentTagContent = currentRowTagContent.data();
                page.dialogs.commands.doUpdateTagContent(currentTagContent, currentRowTagContent);
            }
        }).click(function (e) {
            e.stopPropagation();
        });

        $(document).click(function () {
            $(".tagContentVal").replaceWith(function () {
                return this.value;
            });
        });
    }
    page.dialogs.commands.doDeletedMultiTagContent = (tableTagContent) => {
        let tagContentSelected = [];

        let rows_selected = tableTagContent.rows({selected: true}).data();
        $.each(rows_selected, function (index, value) {
            tagContentSelected.push(value.id);
        });

        if (tagContentSelected.length === 0) {
            CommonApp.IziToast.showErrorAlert(`${noDataSelected}`);
            return;
        }

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "DELETE",
            url: page.urls.deleteMultiTag,
            data: JSON.stringify({tagContentSelected})
        })
            .done((data) => {
                tableTagContent.rows({selected: true}).remove().draw();
                //Delete TagGroup Content In TagGroup
                CommonApp.SweetAlert.showSuccessAlert(SUCCESS_REMOVED);
            })
            .fail(function (jqXHR) {
                DBApp.handleFailedTasks(jqXHR);
            })

    }
    page.dialogs.close.mdCreateTagContent = () => {
        page.dialogs.element.frmCreateTagContent.find("input.error").removeClass("error");
        page.dialogs.element.frmCreateTagContent[0].reset();
        page.dialogs.element.frmCreateTagContent.validate().resetForm();
    }

    $(document).ready(function () {
        DBApp.handleGroupsFilterSidebar();

        let tableTagGroup = page.element.tableTagGroup
            .on('init.dt', function () {
                $('#table-tagGroup thead th').removeClass('tagTitle');
                page.commands.handleTagGroupNameCellEdit();
            })
            .DataTable({
                ajax: {
                    contentType: 'application/json',
                    url: page.urls.findAllTagGroups,
                    dataSrc: ''
                },
                info: false,
                pagingType: 'simple_numbers',
                columns: [
                    {data: 'id'},
                    {data: 'name'},
                    {data: 'color'},
                    {data: null}
                ],
                columnDefs: [
                    {
                        targets: [0, 2],
                        visible: false,
                        searchable: false
                    },
                    {
                        targets: 1,
                        type: 'natural',
                        className: 'tagTitle',
                        createdCell: function (cell, cellData, rowData, row, col) {
                            $(cell).addClass(`btn-${rowData.color}`)
                            $(cell).attr('id', 'tagGroup-' + rowData.id);
                        }
                    },
                    {
                        targets: -1,
                        className: "text-center",
                        orderable: false,
                        render: (data, type, row) =>
                            `<button type='button' class='manage-tagGroup btn btn-outline-primary mr-3' title='${btnManage}'>
                            <i class="fas fa-cogs"></i>
                        </button>
                        <button type='button' class='update-tagGroup btn btn-outline-warning mr-3' title='${btnUpdate}'>
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type='button' class='delete-tagGroup btn btn-outline-danger' title='${btnDelete}'>
                            <i class="fas fa-trash"></i>
                        </button>`,
                    },
                ],
                language: {
                    search: `<i class="fas fa-search text-primary"></i> `,
                    paginate: {
                        previous: `<i class="fas fa-angle-left"></i>`,
                        next: `<i class="fas fa-angle-right"></i>`
                    },
                    aria: {
                        paginate: {
                            previous: 'Previous',
                            next: 'Next'
                        }
                    },
                    emptyTable: `${noDataInTable}`
                },
                pageLength: 7,
                lengthChange: false,
                dom: '<"row mb-2"<"col"B><"col"f>>rtp',
                buttons: {
                    dom: {
                        button: {
                            tagGroup: 'button',
                            className: ''
                        }
                    },
                    buttons: [
                        {
                            text: `<i class="fas fa-plus"></i> ${btnCreate}`,
                            className: 'showCrGrpMd btn btn-primary',
                            init: function (api, node, config) {
                                $(node).on('click', () => page.dialogs.element.mdCreateTagGroup.modal("show"));
                            }
                        }
                    ]
                },
            });
        tableTagGroup.order([1, "asc"]).draw();

        let tableTagContentIn;
        let tableTagContentOut;
        let tableTagContent;
        let currentRowTagGroup;
        let currentTagGroup;
        let currentRowTagContent;
        let currentTagContent;

        page.element.tableTagGroup.on('click', 'button.manage-tagGroup', function () {
            currentTagGroup = tableTagGroup.row($(this).parents('tr')).data();
            page.element.tagGroupTitle.html(currentTagGroup.name);

            if (tableTagContentIn === undefined) {
                tableTagContentIn = page.element.tableTagContentIn.DataTable({
                    ajax: {
                        url: page.urls.getTagInsideTagGroup + currentTagGroup.id,
                        dataSrc: ''
                    },
                    info: false,
                    pagingType: 'simple_numbers',
                    columns: [
                        {data: null},
                        {data: 'id'},
                        {data: 'name'},
                        {data: null}
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            orderable: false,
                            className: 'select-checkbox',
                            render: () => '',
                        },
                        {
                            targets: 1,
                            visible: false,
                            searchable: false
                        },
                        {
                            targets: 2,
                            className: "text-center",
                            type: 'natural',
                        },
                        {
                            targets: -1,
                            className: "text-center",
                            orderable: false,
                            defaultContent:
                                `<button type='button' class='delete-tag-content btn btn-outline-danger mr-3' title='${btnDelete}'>`
                                + `<i class="fas fa-ban"></i>`
                                + `</button>`
                        },
                    ],
                    select: {
                        style: 'multi+shift'
                    },
                    language: {
                        search: `<i class="fas fa-search text-primary"></i> `,
                        paginate: {
                            previous: `<i class="fas fa-angle-left"></i>`,
                            next: `<i class="fas fa-angle-right"></i>`
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next: 'Next'
                            }
                        },
                        emptyTable: `${noDataInTable}`
                    },
                    pageLength: 7,
                    lengthChange: false,
                    dom: '<"row mb-2"<"col-8"B><"col-4"f>>rtp',
                    buttons: {
                        dom: {
                            button: {
                                tagGroup: 'button',
                                className: 'btn-text-sm'
                            }
                        },
                        buttons: [
                            {
                                text: `<i class="fas fa-plus"></i> ${btnAdd}`,
                                className: 'showAddAmzAccMd btn btn-primary',
                                init: function (api, node, config) {
                                    $(node).on('click', () => {
                                        page.dialogs.element.mdAddTagContentToTagGroup.modal("show");
                                    })
                                }
                            },
                            {
                                text: `<i class="fas fa-trash"></i> ${btnDelete}`,
                                className: 'btn btn-danger',
                                init: function (api, node, config) {
                                    $(node).on('click', () => CommonApp.SweetAlert.showDeleteDialog()
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                page.commands.doDeletedMultiTagInTagGroup(currentTagGroup, tableTagContentIn);
                                            }
                                        })
                                    );
                                }
                            },
                            {
                                text: `<i class="fas fa-list-ul"></i> ${btnTagContent}`,
                                className: 'btn btn-warning',
                                init: function (api, node, config) {
                                    $(node).on('click', () => {
                                        page.dialogs.element.mdTagContent.modal('show');
                                    })
                                }
                            }
                        ]
                    },
                });
                tableTagContentIn.order([2, "asc"]).draw();
            } else {
                tableTagContentIn.ajax.url(page.urls.getTagInsideTagGroup + currentTagGroup.id).load();
            }
        });
        page.element.tableTagGroup.on('click', 'button.update-tagGroup', function () {
            currentRowTagGroup = tableTagGroup.row($(this).parents('tr'));
            currentTagGroup = currentRowTagGroup.data();
            page.dialogs.element.tagGroupNameUpdate.val(currentTagGroup.name);
            page.dialogs.element.mdUpdateTagGroup.modal('show');
        });
        page.element.tableTagGroup.on('click', 'button.delete-tagGroup', function () {
            currentRowTagGroup = tableTagGroup.row($(this).parents('tr'));
            currentTagGroup = currentRowTagGroup.data();
            CommonApp.SweetAlert.showDeleteDialog()
                .then((result) => {
                    if (result.isConfirmed) {
                        page.commands.doDeleteTagGroup(currentTagGroup, currentRowTagGroup, tableTagContentIn);
                        currentTagGroup = undefined;
                    }
                })
        });

        page.dialogs.element.mdCreateTagGroup.on('hidden.bs.modal', () => {
            page.dialogs.close.mdCreateTagGroup();
        });
        page.dialogs.element.btnCreateTagGroup.on('click', function () {
            page.dialogs.element.frmCreateTagGroup.submit();
        });
        page.dialogs.element.frmCreateTagGroup.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                tagNameCreate: {
                    required: true
                }
            },
            messages: {
                tagNameCreate: {
                    required: `${requiredGroupTitle}`
                }
            },
            submitHandler: function () {
                page.commands.doCreateTagGroup();
            }
        })

        page.dialogs.element.mdUpdateTagGroup.on('hidden.bs.modal', () => {
            page.dialogs.close.mdUpdateTagGroup();
        });
        page.dialogs.element.btnUpdateTagGroup.on('click', function () {
            page.dialogs.element.frmUpdateTagGroup.submit();
        });
        page.dialogs.element.frmUpdateTagGroup.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                tagNameUpdate: {
                    required: true
                }
            },
            messages: {
                tagNameUpdate: {
                    required: `${requiredGroupTitle}`
                }
            },
            submitHandler: function () {
                let tagGroup = new TagGroup();
                tagGroup.id = currentTagGroup.id;
                tagGroup.name = page.dialogs.element.tagGroupNameUpdate.val().trim();
                tagGroup.color = page.dialogs.element.tagGroupColorUpdate.val();
                page.commands.doUpdateTagGroup(tagGroup, currentTagGroup, currentRowTagGroup);
            }
        })

        page.element.tableTagContentIn.on('click', 'button.delete-tag-content', function () {
            currentRowTagContent = tableTagContentIn.row($(this).parents('tr'));
            currentTagContent = currentRowTagContent.data();
            page.commands.doDeleteTagInTagGroup(currentTagGroup, currentTagContent, currentRowTagContent);
        });
        page.dialogs.element.mdAddTagContentToTagGroup.on('shown.bs.modal', () => {

            if (currentTagGroup === undefined) {
                return;
            }

            if (tableTagContentOut === undefined) {
                tableTagContentOut = page.element.tableTagContentOut.DataTable({
                    ajax: {
                        url: page.urls.getTagOutsideTagGroup + currentTagGroup.id,
                        dataSrc: ''
                    },
                    info: false,
                    pagingType: 'simple_numbers',
                    columns: [
                        {data: 'id'},
                        {data: 'name'},
                        {data: null},
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            visible: false,
                            searchable: false,
                            orderable: false,
                        },
                        {
                            targets: 1,
                            type: 'natural',
                            className: 'text-center'
                        },
                        {
                            targets: 2,
                            orderable: false,
                            className: 'select-checkbox',
                            render: () => '',
                        }
                    ],
                    select: {
                        style: 'multi+shift'
                    },
                    language: {
                        search: `<i class="fas fa-search text-primary"></i> `,
                        paginate: {
                            previous: `<i class="fas fa-angle-left"></i>`,
                            next: `<i class="fas fa-angle-right"></i>`
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next: 'Next'
                            }
                        },
                        emptyTable: `${noDataInTable}`
                    },
                    pageLength: 8,
                    lengthChange: false,
                    dom: '<"d-flex justify-content-around flex-column flex-sm-row mb-2"<"align-self-center align-self-sm-start table-quickselect"><"align-self-center align-self-sm-start"f>>tp'
                });
                tableTagContentOut.order([1, "asc"]).draw();

                $('div.table-quickselect').html(`<p class="font-italic font-weight-light text-center text-sm-left" style="margin-bottom: 0;">${tableQuickSelectP1}</p>
                <p class="font-italic font-weight-light text-center text-sm-left">${tableQuickSelectP2}</p>`);
            } else {
                tableTagContentOut.ajax.url(page.urls.getTagOutsideTagGroup + currentTagGroup.id).load();
            }
            page.element.tableTagContentOut.css('cursor', 'pointer');
        });
        page.dialogs.element.mdAddTagContentToTagGroup.on('hidden.bs.modal', () => {
            tableTagContentOut.clear().draw();
            tableTagContentOut.search('').draw();
        });
        page.dialogs.element.btnAddTagContentToTagGroup.on('click', () => {
            page.commands.addTagToTagGroup(currentTagGroup, tableTagContentIn, tableTagContentOut);
        })

        page.dialogs.element.mdTagContent.on('shown.bs.modal', () => {
            if (tableTagContent === undefined) {
                tableTagContent = page.dialogs.element.tableTagContent.DataTable({
                    drawCallback: function (settings) {
                        $('#table-tag-content thead th').removeClass('tagContentName');
                        page.dialogs.commands.handleTagContentNameCellEdit();
                    },
                    ajax: {
                        url: page.urls.getAllTags,
                        dataSrc: ''
                    },
                    info: false,
                    pagingType: 'simple_numbers',
                    columns: [
                        {data: null},
                        {data: 'id'},
                        {data: 'name'},
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            orderable: false,
                            className: 'select-checkbox',
                            render: () => '',
                        },
                        {
                            targets: 1,
                            visible: false,
                            searchable: false
                        },
                        {
                            targets: 2,
                            type: 'natural',
                            className: 'tagContentName',
                            createdCell: function (cell, cellData, rowData, row, col) {
                                $(cell).attr('id', 'tag-' + rowData.id);
                            }
                        }
                    ],
                    select: {
                        style: 'multi+shift'
                    },
                    language: {
                        search: `<i class="fas fa-search text-primary"></i> `,
                        paginate: {
                            previous: `<i class="fas fa-angle-left"></i>`,
                            next: `<i class="fas fa-angle-right"></i>`
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next: 'Next'
                            }
                        },
                        emptyTable: `${noDataInTable}`
                    },
                    pageLength: 7,
                    lengthChange: false,
                    dom: '<"row mb-2"<"col-7"B><"col-5"f>>rtp',
                    buttons: {
                        dom: {
                            button: {
                                tagGroup: 'button',
                                className: 'btn-text-sm'
                            }
                        },
                        buttons: [
                            {
                                text: `<i class="fas fa-plus"></i> ${btnAdd}`,
                                className: 'btn btn-primary',
                                init: function (api, node, config) {
                                    $(node).on('click', () => {
                                        page.dialogs.element.mdCreateTagContent.modal("show");
                                    })
                                }
                            },
                            {
                                text: `<i class="fas fa-trash"></i> ${btnDelete}`,
                                className: 'btn btn-danger',
                                init: function (api, node, config) {
                                    $(node).on('click', () => CommonApp.SweetAlert.showDeleteDialog()
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                page.dialogs.commands.doDeletedMultiTagContent(tableTagContent);
                                            }
                                        })
                                    );
                                }
                            }
                        ]
                    },
                });
                tableTagContent.order([2, "asc"]).draw();
            } else {
                tableTagContent.ajax.url(page.urls.getAllTags).load();
            }
            $('div.table-quickselect').html(`<p class="font-italic font-weight-light text-center text-sm-left" style="margin-bottom: 0;">${tableQuickSelectP1}</p>
                <p class="font-italic font-weight-light text-center text-sm-left">${tableQuickSelectP2}</p>`);

        })
        page.dialogs.element.mdCreateTagContent.on('hidden.bs.modal', () => {
            page.dialogs.close.mdCreateTagContent();
        })
        page.dialogs.element.btnCreateTagContent.on('click', () => {
            page.dialogs.element.frmCreateTagContent.submit();
        })
        page.dialogs.element.frmCreateTagContent.validate({
            onkeyup: function (element) {
                $(element).valid()
            },
            onclick: false,
            onfocusout: false,
            rules: {
                tagContentNameCreate: {
                    required: true
                }
            },
            messages: {
                tagContentNameCreate: {
                    required: `${requiredTagContentName}`
                }
            },
            submitHandler: function () {
                page.dialogs.commands.doCreateTagContent();
            }
        })

        CommonApp.enableEnterKeyboard(page.dialogs.element.mdCreateTagGroup, page.dialogs.element.btnCreateTagGroup);
        // CommonApp.enableEnterKeyboard(page.dialogs.element.mdUpdateTagGroup, page.dialogs.element.btnUpdateTagGroup);
        CommonApp.enableEnterKeyboard(page.dialogs.element.mdAddTagContentToTagGroup, page.dialogs.element.btnAddTagContentToTagGroup);
    });


</script>
</body>
</html>