<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/head :: dashboard-head"/>
    <title>Users Management</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Users Management</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <div class="row">

                    <!-- Users -->
                    <div class="col">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Card Body -->
                            <div class="card-body">
                                <!-- Table Body -->
                                <table id="table-user" class="cell-border stripe nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Username</th>
                                        <th>Full name</th>
                                        <th>Status</th>
                                        <th colspan="3">Action</th>
                                    </tr>
                                    </thead>
                                    <!-- Tbody -->
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="layout/modals-user :: create_user"/>
<th:block th:replace="layout/modals-user :: change_password_user"/>
<th:block th:replace="layout/modals-user :: assign_group_user"/>

<th:block th:replace="layout/script :: script-dashboard"/>

<script>
    let page = {
        urls: {
            findAllUsers: App.BASE_URL_USER,
            findUser: App.BASE_URL_USER + "/",
            createUser: App.BASE_URL_USER + "/create",
            changePassword: App.BASE_URL_USER + "/changePassword",
            changeStatus: App.BASE_URL_USER + "/changeStatus"
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.element.tableUser = $('#table-user');
    // page.element.tableUser.tbody = $('#table-user tbody');
    page.element.btnShowCreateUserFrm = $("#btnMdCreateUser");
    page.dialogs.element.mdCreateUser = $("#mdCreateUser");

    $(document).ready(function () {
        let table = page.element.tableUser.DataTable({
            info: false,
            pagingType: 'simple_numbers',
            processing: true,
            ajax: {
                url: page.urls.findAllUsers,
                dataSrc: ''
            },
            columns: [
                {data: 'id'},
                {data: 'username'},
                {data: 'fullName'},
                {data: 'disabled'},
                {data: null}
            ],
            columnDefs: [
                {
                    targets: 0,
                    className: "text-center"
                },
                {
                    targets: -1,
                    className: "text-center",
                    defaultContent:
                        `<button type='button' class='assign-group btn btn-outline-primary mr-3' title='Assign group'>`
                        + `<i class='fas fa-eye'></i>`
                        + `</button>`
                        + `<button type='button' class='change-password btn btn-outline-warning mr-3' title='Change password'>`
                        + `<i class='fas fa-key'></i>`
                        + `</button>`
                        + `<button type='button' class='change-status btn btn-outline-danger' title='Disable/activate'>`
                        + `<i class='fas fa-user-lock'></i>`
                        + `</button>`,
                },
            ],
            pageLength: 10,
            lengthChange: false,
            dom: 'Bfrtip',
            buttons: {
                dom: {
                    button: {
                        tag: 'button',
                        className: ''
                    }
                },
                buttons: [
                    {
                        text: `<i class="fas fa-user-plus"></i> Add`,
                        titleAttr: 'Add new user',
                        className: 'add btn btn-primary',
                        init: function (api, node, config) {
                            $(node).on('click', () => page.dialogs.element.mdCreateUser.modal("show"));
                        }
                    }
                ]
            },
        });

        page.element.tableUser.on('click', 'button.assign-group', function () {
            let data = table.row($(this).parents('tr')).data();
            console.log(data);
        });

        page.element.tableUser.on('click', 'button.change-password', function () {
            let data = table.row($(this).parents('tr')).data();
            console.log(data);
        });

        page.element.tableUser.on('click', 'button.change-status', function () {
            let data = table.row($(this).parents('tr')).data();
            console.log(data);
        });
    });



</script>
</body>
</html>