<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/head :: dashboard-head"/>
    <title th:text="#{user.pageTitle}">Users Management</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="#{user.pageHeading}">Users List</h1>
                </div>

                <div class="row">

                    <!-- Users -->
                    <div class="col">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary" th:text="#{user.tabHeader}">Users
                                    Overview</h4>
                            </div>

                            <!-- Card Body -->
                            <div class="card-body">
                                <!-- Table Body -->
                                <table id="table-user" class="cell-border stripe nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th th:text="#{user.table.th.username}">Username</th>
                                        <th th:text="#{user.table.th.fullName}">Full name</th>
                                        <th th:text="#{user.table.th.status}">Status</th>
                                        <th th:text="#{user.table.th.action}">Action</th>
                                    </tr>
                                    </thead>
                                    <!-- Tbody -->
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="layout/modals-user :: create_user"/>
<th:block th:replace="layout/modals-user :: change_password_user"/>
<th:block th:replace="layout/texts :: texts"/>

<th:block th:replace="layout/script :: script-dashboard"/>

<script>
    let page = {
        urls: {
            findAllUsers: App.BASE_URL_USER,
            findUser: App.BASE_URL_USER + "/",
            createUser: App.BASE_URL_USER + "/create",
            changeMyPassword: App.BASE_URL_USER + "/changePassword",
            changePassword: App.BASE_URL_USER + "/changePassword/",
            changeStatus: App.BASE_URL_USER + "/changeStatus/",
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {},
            messages: {}
        }
    }

    page.element.tableUser = $('#table-user');

    page.element.btnShowCreateUserFrm = $('#btnMdCreateUser');
    page.dialogs.element.mdCreateUser = $('#mdCreateUser');
    page.dialogs.element.mdCPUser = $('#mdCPUser');

    page.dialogs.element.frmCreateUser = $('#frmCreateUser');
    page.dialogs.element.fullNameCreate = $('#fullNameCreate');
    page.dialogs.element.usernameCreate = $('#usernameCreate');
    page.dialogs.element.passwordCreate = $('#passwordCreate');
    page.dialogs.element.btnCreateUser = $('#btnCreateUser');

    page.dialogs.element.frmCPUser = $('#frmCPUser');
    page.dialogs.element.fullNameCP = $('#fullNameCP');
    page.dialogs.element.usernameCP = $('#usernameCP');
    page.dialogs.element.passwordCP = $('#passwordCP');
    page.dialogs.element.btnCPUser = $('#btnCPUser');

    $(document).ready(function () {
        let table = page.element.tableUser.DataTable({
            ajax: {
                contentType: 'application/json',
                type: 'POST',
                url: page.urls.findAllUsers,
                data: function (d) {
                    return JSON.stringify(d);
                },
                dataSrc: 'data'
            },
            processing: true,
            serverSide: true,
            columns: [
                {data: 'id'},
                {data: 'username'},
                {data: 'fullName'},
                {data: 'disabled'},
                {data: null}
            ],
            columnDefs: [
                {
                    targets: 0,
                    className: 'text-center'
                },
                {
                    targets: [1, 2],
                    type: 'natural'
                },
                {
                    targets: 3,
                    className: 'text-center',
                    render: (data, type, row) => data ? `${statusDisabled}` : `${statusActive}`,
                    createdCell: (cell, data) => data ? $(cell).addClass('text-danger') : $(cell).addClass('text-success')
                },
                {
                    targets: -1,
                    className: 'text-center col-2',
                    orderable: false,
                    render: (data, type, row) => {
                        return `
                            <button type='button'
                                    class='assign-group btn btn-outline-primary mr-3'
                                    title='${btnTitleAssignGroup}'>
                                <i class="fas fa-users-cog"></i>
                            </button>
                            <button type='button'
                                    class='change-password btn btn-outline-warning mr-3'
                                    title='${btnTitleChangePassword}'>
                                <i class='fas fa-key'></i>
                            </button>
                            <button type='button'
                                    class="change-status ${data.disabled ? 'btn btn-outline-success' : 'btn btn-outline-danger'}"
                                    title="${data.disabled ? btnTitleStatusActive : btnTitleStatusDisable}">
                                <i class="${data.disabled ? 'fas fa-unlock' : 'fas fa-lock'}"></i>
                            </button>
                        `
                    }
                },
            ],
            info: false,
            pagingType: 'simple_numbers',
            pageLength: 10,
            lengthChange: false,
            language: {
                search: `<i class="fas fa-search text-primary"></i> `
            },
            dom: 'Bfrtip',
            buttons: {
                dom: {
                    button: {
                        tag: 'button',
                        className: ''
                    }
                },
                buttons: [
                    {
                        text: `<i class="fas fa-user-plus"></i> ${btnTextAdd}`,
                        className: 'add btn btn-primary',
                        init: (api, node, config) => {
                            $(node).on('click', () => {
                                page.dialogs.element.frmCreateUser[0].reset();
                                page.dialogs.element.mdCreateUser.modal("show");
                                App.allowShowingPassword(page.dialogs.element.frmCreateUser);
                            });
                        }
                    }
                ]
            },
        });

        let currentUser = new User();
        let currenRow;

        page.element.tableUser.on('click', 'button.assign-group', function () {
            currentUser = table.row($(this).parents('tr')).data();

            window.location.href = '/dashboard/user/group/' + currentUser.id;
        });

        page.element.tableUser.on('click', 'button.change-password', function () {
            currentUser = table.row($(this).parents('tr')).data();

            page.dialogs.element.fullNameCP.val(currentUser.fullName);
            page.dialogs.element.usernameCP.val(currentUser.username);
            App.allowShowingPassword(page.dialogs.element.frmCPUser);

            page.dialogs.element.mdCPUser.modal("show");
        });

        page.element.tableUser.on('click', 'button.change-status', function () {
            currenRow = table.row($(this).parents('tr'));
            currentUser = currenRow.data();

            App.SweetAlert.showChangeStatusDialog(currentUser.disabled)
                .then((result) => {
                    if (result.isConfirmed)
                        page.commands.doChangeStatus(currentUser, currenRow);
                })
        });

        page.dialogs.element.btnCreateUser.on("click", function () {
            page.dialogs.element.frmCreateUser.submit();
        });

        const createUserValidator = page.dialogs.element.frmCreateUser.validate({
            rules: {
                fullNameCreate: {
                    required: true,
                    minlength: 5,
                    maxlength: 80
                },
                usernameCreate: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                passwordCreate: {
                    required: true,
                    passwordregex: true
                }
            },
            messages: {
                fullNameCreate: {
                    required: validEmpty,
                    minlength: validFullNameLength,
                    maxlength: validFullNameLength
                },
                usernameCreate: {
                    required: validEmpty,
                    minlength: validUsernameLength,
                    maxlength: validUsernameLength
                },
                passwordCreate: {
                    required: validEmpty,
                    passwordregex: validPassword
                }
            },
            submitHandler: function () {
                page.commands.doCreateUser();
            }
        });

        page.dialogs.element.btnCPUser.on("click", function () {
            page.dialogs.element.frmCPUser.submit();
        })

        const CPUserValidator = page.dialogs.element.frmCPUser.validate({
            rules: {
                passwordCP: {
                    required: true,
                    passwordregex: true
                }
            },
            messages: {
                passwordCP: {
                    required: validEmpty,
                    passwordregex: validPassword
                }
            },
            submitHandler: function () {
                page.commands.doCPUser(currentUser);
            }
        });

        //reset modal on close
        page.dialogs.element.mdCreateUser.on('hidden.bs.modal', function () {
            page.dialogs.element.frmCreateUser[0].reset();
            createUserValidator.resetForm();
            $("#mdCreateUser input").removeClass("error");
        })

        page.dialogs.element.mdCPUser.on('hidden.bs.modal', function () {
            page.dialogs.element.frmCPUser[0].reset();
            CPUserValidator.resetForm();
            $("#mdCPUser input").removeClass("error");
        })
    });

    page.commands.doCreateUser = function () {
        let user = new User();

        user.fullName = page.dialogs.element.fullNameCreate.val();
        user.username = page.dialogs.element.usernameCreate.val();
        user.password = page.dialogs.element.passwordCreate.val();

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": page.urls.createUser,
            "data": JSON.stringify(user)
        })
            .done((data) => {
                let tableUser = page.element.tableUser.DataTable();

                user = data;
                tableUser.row.add({
                    'id': user.id,
                    'username': user.username,
                    'fullName': user.fullName,
                    'disabled': user.disabled
                })

                tableUser.order([0, 'desc']).draw();

                page.dialogs.element.frmCreateUser[0].reset();
                page.dialogs.element.mdCreateUser.modal("hide");
                App.SweetAlert.showSuccessAlert(SUCCESS_CREATED);
            })
            .fail(function (jqXHR) {
                App.handleFailedTasks(jqXHR);
            })
    }

    page.commands.doCPUser = (currentUser) => {
        let newPassword = page.dialogs.element.passwordCP.val();

        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "PUT",
            "url": page.urls.changePassword + currentUser.id,
            "data": newPassword
        })
            .done((data) => {
                page.dialogs.element.frmCPUser[0].reset();
                page.dialogs.element.mdCPUser.modal("hide");

                App.SweetAlert.showSuccessAlert(SUCCESS_UPDATED);
            })
            .fail((jqXHR) => {
                App.handleFailedTasks(jqXHR);
            })
    }

    page.commands.doChangeStatus = (currentUser, currentRow) => {
        let user = new User;
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "PUT",
            "url": page.urls.changeStatus + currentUser.id,
        })
            .done((data) => {
                let tableUser = page.element.tableUser.DataTable();

                user = data;
                tableUser.row(currentRow).data({
                    'id': user.id,
                    'username': user.username,
                    'fullName': user.fullName,
                    'disabled': user.disabled
                })
                    .draw('full-hold');

                App.SweetAlert.showSuccessAlert(SUCCESS_UPDATED);
            })
            .fail((jqXHR) => {
                App.handleFailedTasks(jqXHR);
            })
    }

    $.validator.addMethod("passwordregex", function (value, element) {
        return this.optional(element) || /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,128}$/.test(value)
    })

</script>
</body>
</html>