<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/head :: dashboard-head"/>
    <title th:text="#{dashboard.pageTitle}">Dashboard</title>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar-user :: sidebar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="text-center">
                    <div class="error-page mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5" th:text="#{errorPage.header}">Page Not Found</p>
                    <p class="text-gray-500 mb-0" th:text="#{errorPage.content}">It looks like you found a glitch in the matrix...</p>
                    <a href="/dashboard" th:text="#{errorPage.back}">&larr; Back to Dashboard</a>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div id="spinner"></div>

<th:block th:replace="layout/script :: script-dashboard"/>

<th:block th:replace="layout/texts :: texts"/>

<script>

    let currentGrpId = window.location.pathname.split('/')[2];
    var userId = [[${userId}]];

    let page = {
        urls: {
            findAmznAccInGrp: DBApp.BASE_URL_GROUP + "/findInGrpFilter/",
            findCardsAll: DBApp.BASE_URL_ORDER + "/card-all",
            findCardsByGroupId: DBApp.BASE_URL_ORDER + "/card-grp/",
            findCardsByAmznId: DBApp.BASE_URL_ORDER + "/card-acc/",
            findChartAll: DBApp.BASE_URL_ORDER + "/chart-all",
            findChartByGroupId: DBApp.BASE_URL_ORDER + "/chart-grp/",
            findChartByUserId: DBApp.BASE_URL_ORDER + "/chart-acc/",

            findAllTodaySoldInGroup: DBApp.BASE_URL_PRODUCT + "/findAllTodaySoldInGroup/",
            findAllLast30DaysSoldInGroup: DBApp.BASE_URL_PRODUCT + "/findAllLast30DaysSoldInGroup/",
            findAllThisMonthSoldInGroup: DBApp.BASE_URL_PRODUCT + "/findAllThisMonthSoldInGroup/",

            findAllTodaySoldEveryAmznAcc: DBApp.BASE_URL_PRODUCT + "/findAllTodaySoldEveryAmznAcc/",
            findAllLast30DaysSoldEveryAmznAcc: DBApp.BASE_URL_PRODUCT + "/findAllLast30DaysSoldEveryAmznAcc/",
            findAllThisMonthSoldEveryAmznAcc: DBApp.BASE_URL_PRODUCT + "/findAllThisMonthSoldEveryAmznAcc/",
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.element.groupHeader = $("#groupHeader");

    page.element.spinner = $('#spinner');

    page.commands.createSideBarGroupList = (userId) => {

        let container = $('#filter-sidebar');

        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": DBApp.BASE_URL_USER + "/asgnGrp" + "/" + userId,
        })
            .done((groups) => {
                let str = ``

                $.each(groups, function (index, group) {
                    str += `<a class="collapse-item" data-id="${group.id}" href="/users/${group.id}">${group.title}</a>`
                })
                container.append(str);

                DBApp.handleFilter('filter-sidebar', 'sidebar-grp-search', 'collapse-item');

                DBApp.handleStatusNavDashboard();
                DBApp.handleCollapsedFilterSidebar();
            })
            .fail((jqXHR) => {
                DBApp.IziToast.showErrorAlert(ERROR_GRP_RETRIEVE);
            })
    }

    $(document).ready(function () {
        page.commands.createSideBarGroupList(userId).then(() => {
            if (isNaN(currentGrpId) || currentGrpId === '') {
                currentGrpId = $('#filter-sidebar .collapse-item').data('id');
                page.element.groupHeader.html($('#filter-sidebar .collapse-item').html());
            }
            if (currentGrpId) {
                page.commands.handleContentDashboard(currentGrpId);
            }
        });
    })

</script>
</body>

</html>