<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!DOCTYPE html>
<head>
    <th:block th:replace="layout/head :: login-head"/>
    <title>Unimerch</title>
</head>
<body>

<form class="login" id="frmLogin" autocomplete="off">
    <input type="text" placeholder="Username" id="username">
    <input type="password" placeholder="Password" id="password">
    <button type="button" id="btnLogin">Login</button>
</form>

<a href="https://codegym.vn/">Codegym.vn</a>

<th:block th:replace="layout/script :: script-login"/>

<script>
    let page = {
        urls: {
            login: App.BASE_URL_AUTHORIZATION + "/login",
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.dialogs.element.frmLogin = $("#frmLogin");
    page.element.btnLogin = $("#btnLogin");
    page.dialogs.element.username = $("#username");
    page.dialogs.element.password = $("#password");

    page.element.btnLogin.on("click", function () {
        let user = new User(
            page.dialogs.element.username.val(),
            page.dialogs.element.password.val()
        );

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": page.urls.login,
            "data": JSON.stringify(user)
        })
            .done(() => {
                App.IziToast.showSuccessAlert("Logging in...");
                setTimeout(() => {
                    location.href = "/dashboard";
                }, 800)
            })
            .fail((jqXHR) => {
                if (jqXHR.status === 401) {
                    App.IziToast.showErrorAlert(App.ERROR_401);
                } if (jqXHR.status === 403) {
                    App.IziToast.showErrorAlert(App.ERROR_403);
                } else {
                    App.IziToast.showErrorAlert(App.ERROR_500);
                }
            })
    })
</script>
</body>
</html>