<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="temp-option">
    <textarea id="tempOption" style="display:none">
        <option value="{0}">{1}</option>
    </textarea>
</th:block>

<th:block th:fragment="temp-tagGroup-select">
    <textarea id="tempTagGroupSelect" style="display:none">
        <select class="mb-3 mr-3 tag-group-select-id-{0} selectpicker" data-live-search="true" multiple>
                <option value="0" selected disabled>{1}</option>
        </select>
    </textarea>
</th:block>