<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!DOCTYPE html>
<head>
    <th:block th:replace="layout/head :: login-head"/>
    <title>Unimerch</title>
</head>
<body>

<form class="login" id="frmLogin" autocomplete="off">
    <input type="text" th:placeholder="#{form.placeholder.username}" id="username">
    <input type="password" th:placeholder="#{form.placeholder.password}" id="password" class="password">
    <div id="show-password">
        <input type="checkbox" class="show-password">
        <span th:text="#{form.showPassword}"></span>
    </div>
    <button type="button" id="btnLogin" th:text="#{form.btn.login}">Login</button>
</form>

<th:block th:replace="layout/texts :: texts-login"/>

<th:block th:replace="layout/script :: script-login"/>

<script>
    let page = {
        urls: {
            login: CommonApp.BASE_URL_AUTHORIZATION,
        },
        element: {},
        commands: {},
        dialogs: {
            element: {},
            alertDanger: {},
            inputError: {}
        }
    }

    page.dialogs.element.frmLogin = $("#frmLogin");
    page.element.btnLogin = $("#btnLogin");
    page.dialogs.element.username = $("#username");
    page.dialogs.element.password = $("#password");

    page.element.btnLogin.on("click", function () {
        let user = new User(
            page.dialogs.element.username.val(),
            page.dialogs.element.password.val()
        );

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": page.urls.login,
            "data": JSON.stringify(user)
        })
            .done((resp) => {
                CommonApp.IziToast.showSuccessAlert("Logging in...");
                window.location.href = "/";
            })
            .fail((jqXHR) => {
                LGApp.handleFailedTasks(jqXHR);
            })
    })

    page.dialogs.element.frmLogin.keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            page.element.btnLogin.click();
        }
    });

    CommonApp.allowShowingPassword(page.dialogs.element.frmLogin);
</script>
</body>
</html>